{% extends "core/base.html" %}
{% block title %}{{ package.title }} | Tryout{% endblock %}
{% block content %}
  <h1>{{ package.title }}</h1>
  <p>Kategori: {{ package.category.name }}</p>
  <p>Durasi: {{ package.duration_minutes }} menit</p>
  <p>Total soal: {{ q_count }}</p>
  <p>{{ package.description }}</p>

  <hr>

  {% if request.user.is_authenticated %}

    <form method="post" action="{% url 'toggle_favorite' package.slug %}" style="display:inline;">
      {% csrf_token %}
      <button type="submit">
        {% if up and up.is_favorite %}★ Favorit{% else %}☆ Tambah Favorit{% endif %}
      </button>
    </form>

    {% if package.is_paid %}
      {% if up and up.is_purchased %}
        <span style="margin-left:10px;">✅ Sudah dibeli</span>
      {% else %}
        <form method="post" action="{% url 'purchase_package' package.slug %}" style="display:inline; margin-left:10px;">
          {% csrf_token %}
          <button type="submit">Beli (MVP)</button>
        </form>
      {% endif %}
    {% endif %}

    <hr>

    {% if not package.is_paid %}
      <a href="{% url 'start_attempt' package.slug %}?mode=TRYOUT">Mulai Tryout</a>
      |
      <a href="{% url 'start_attempt' package.slug %}?mode=LEARN">Mode Belajar</a>
    {% else %}
      {% if up and up.is_purchased %}
        <a href="{% url 'start_attempt' package.slug %}?mode=TRYOUT">Mulai Tryout</a>
        |
        <a href="{% url 'start_attempt' package.slug %}?mode=LEARN">Mode Belajar</a>
      {% else %}
        <p><i>Paket ini berbayar. Silakan beli dulu untuk mulai.</i></p>
      {% endif %}
    {% endif %}

  {% else %}
    <p>Silakan <a href="/accounts/login/">login</a> untuk mulai.</p>
  {% endif %}



  <br><br>
  <a href="{% url 'package_list' %}">← Kembali</a>
{% endblock %}
